/* defines font used further down the stylesheet */
@font-face {
    font-family: Fucxed;
    font-display: swap;
    src: url('/static/fonts/FUCXEDCAPSLatin-Regular.woff2') format("woff2"), url('/static/fonts/FUCXEDCAPSLatin-Regular.woff') format("woff")
}

/* styles for main elements */

html, body {
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
.brand-logo {
    font-family: Fucxed, sans-serif;
    color: #ffffff;
}

/* side nav site description - title... */
h5 {
    font-family: Fucxed, sans-serif;
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 16px;
}

body {
    background-color: #202020;
    color: #fff;
}

nav {
    background-color: #000000;
}

a {
    color: #00ff66;
}

/* buttons styles (overwrites materialize) */
.btn {
    background-color: #000000;
}

.btn:hover {
    background-color: gray;
}

/* side navigation for mobile (overwrites materialize) */
.sidenav {
    background-color: #000000;
    padding-top: 15px;
}

.sidenav li>a,
.sidenav li>a>i.material-icons {
    color: #ffffff;
}

div.content {
    color: #fff;
}

.breadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}

.breadcrumbs:empty {
    display: none;
}

.sortoption {
    display: flex; justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px
}

#sort-records-by {
    position: absolute;
    top: -40px;
}

.records {
    padding: 10px;
}

/* styles for voting elements */
.vote_count {
    text-align: right;
}

a.vote_count {
    color: 	#00FF66;
    font-size: 1.2em;
    line-height: 1em;
}

.no, a.no {
    color: red;
}

.yes, a.yes {
    color: #00FF66;
}
/* end of voting elements  */

.dropdown-trigger {
    display: inline;
}

/* trims records' URLs that are too long to display */
.truncate {
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new_tab {
    font-size: 16px; /* size of material icon */
}

input, textarea, select,
.helper-text:after {
    color: #ffffff;
}

.delete_button {
    color: #F44336
}

/* styles for feedback flashes */

.flashed-error {
    margin: 30px;
    padding: 20px;
    display: block;
    position: relative;
    width: 300px;
    color: #000000;
    background-color: #F44336;
}

.flashed-success {
    margin: 30px;
    padding: 20px;
    display: block;
    position: relative;
    width: 300px;
    color: #000000;
    background-color: #00FF66;
}
@media only screen and (min-width: 992px) {
    .records {
        padding: 10px 50px 0px 50px;
    }

    .breadcrumbs {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 50px;
    }

    .no-records-found {
        margin: 50px;
    }
}