/* font not rendering properly - TO FIX 

@font-face {
    font-family: Fucxed;
    font-display: swap;
    src: url('/static/media/FUCXEDCAPSLatin-Regular.otf') format("woff2"), url('/static/media/FUCXEDCAPSLatin-Regular.woff') format("woff")
}*/

h1,
h2,
h3,
h4 {
    font-family: Fucxed, sans-serif;
    color: #ffffff;
}

body {
    background-color: #202020;
    color: #fff;
}

nav {
    background-color: #000000;
}

div.content {
    color: #fff;
}

.vote_count {
    text-align: right;
}

a.vote_count {
    color: 	#00FF66;
    font-size: 1.2em;
    line-height: 1em;
}

.no, a.no {
    color: red;
}

.yes, a.yes {
    color: #00FF66;
}