@font-face {
    font-family: Fucxed;
    font-display: swap;
    src: url('/static/fonts/FUCXEDCAPSLatin-Regular.woff2') format("woff2"), url('/static/fonts/FUCXEDCAPSLatin-Regular.woff') format("woff")
}

h1,
h2,
h3,
h4,
.brand-logo {
    font-family: Fucxed, sans-serif;
    color: #ffffff;
}

body {
    background-color: #202020;
    color: #fff;
}

nav {
    background-color: #000000;
}

a {
    color: #00ff66;
}

.btn {
    background-color: #000000;
}

.btn:hover {
    background-color: gray;
}

.sidenav {
    background-color: #000000;
}

.sidenav li>a,
.sidenav li>a>i.material-icons {
    color: #ffffff;
}

div.content {
    color: #fff;
}

.breadcrumbs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.breadcrumbs:empty {
    display: none;
}

.sortoption {
    display: flex; justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px
}

#sort-records-by {
    position: absolute;
    top: -40px;
}

.records {
    padding: 10px 50px 0px 50px;
}

.vote_count {
    text-align: right;
}

a.vote_count {
    color: 	#00FF66;
    font-size: 1.2em;
    line-height: 1em;
}

.no, a.no {
    color: red;
}

.yes, a.yes {
    color: #00FF66;
}

.dropdown-trigger {
    display: inline;
}

.new_tab {
    font-size: 16px;
}

input, textarea, select,
.helper-text:after {
    color: #ffffff;
}

.delete_button {
    color: #F44336
}

/* styles for feedback flashes */

.flashed-error {
    margin: 30px;
    padding: 20px;
    display: block;
    position: relative;
    width: 300px;
    color: #000000;
    background-color: #F44336;
}

.flashed-success {
    margin: 30px;
    padding: 20px;
    display: block;
    position: relative;
    width: 300px;
    color: #000000;
    background-color: #00FF66;
}