{% extends 'base.html' %} {% block title %}Add new link{% endblock %}


{% block breadcrumbs %}

<a href ="{{ url_for('get_records') }}">Home</a> > <a href="{{ url_for('add_record') }}">Add new link</a> 

{% endblock %}


{% block content %}

<h3>Add new link</h3>

<form action="{{ url_for('commit_record') }}" method="POST" class="col s6">
    <!-- Title of the record -->
    <div class="row">
        <div class="input-field col s6">
            <input id="title" name="title" type="text" class="validate">
            <label for="title">Title</label>
        </div>
    </div>

    <!-- Link -->
    <div class="row">
        <div class="input-field col s6">
            <input id="url" name="url" type="text" class="validate">
            <label for="url">URL</label>
        </div>
    </div>

    <!-- Description of the link -->


    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="desc" name="desc" class="materialize-textarea"></textarea>
            <label for="desc">Description of the link</label>
        </div>
    </div>



    <!-- Category selection -->
    <div class="input-field col s6">
        <select id="category" name="category">
        <option value="" disabled>Choose category:</option>
        
        {% for category in categories %}
        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
        {% endfor %}
        
      </optgroup>
    </select>
        <label for="category">Choose category:</label>
    </div>


    <button class="btn waves-effect waves-light" type="submit" >Add link
        <i class="material-icons right">send</i>
    </button>

</form>

{% endblock %}
