<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Materialize: Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Materialize: Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

    <title>Extinction Rebellion - {% block title %}{% endblock %}</title>

    <!-- favicon -->
</head>

<body>

    <!-- navigation bar / large screen -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right hide-on-med-and-down">Extinction Rebellion - online resource</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{{ url_for('get_records') }}"><i class="material-icons left">cloud</i> Home</a></li>
                <li><a href="{{ url_for('add_record') }}"><i class="material-icons left">cloud</i> Add new link</a></li>
                <li><a href="{{ url_for('show_categories') }}"><i class="material-icons left">cloud</i> Categories</a></li>
                {% if "username" in session %}
                    <li><a href="{{ url_for('user_logout') }}"><i class="material-icons left">cloud</i> Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('user_login') }}"><i class="material-icons left">cloud</i> Log in</a></li>
                {%endif%}
                <li><a href="{{ url_for('show_categories') }}"><i class="material-icons left">search</i> Search</a></li>
            </ul>
        </div>
    </nav>
    <!-- navigation / mobile -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('get_records') }}"><i class="material-icons left">cloud</i> Home</a></li>
        <li><a href="{{ url_for('add_record') }}"><i class="material-icons left">cloud</i> Add new link</a></li>
        <li><a href="{{ url_for('show_categories') }}"><i class="material-icons left">cloud</i> Categories</a></li>
        {% if "username" in session %}
            <li><a href="{{ url_for('user_logout') }}"><i class="material-icons left">cloud</i> Log out</a></li>
            {% else %}
            <li><a href="{{ url_for('user_login') }}"><i class="material-icons left">cloud</i> Log in</a></li>
        {%endif%}
        <li><a href="{{ url_for('show_categories') }}"><i class="material-icons left">search</i> Search</a></li>
    </ul>

    <!-- content -->

    <div class="content">
        <div class="row">

            <!--title-->
            <div class="col s4">
                <h1 class="center-align">Extinction Rebellion - online resource</h1>
            </div>


            <!-- breadcrumbs -->

            {% block breadcrumbs %} {% endblock %}

            <!--main content -->

            <div class="col s8">
                {% with messages = get_flashed_messages() %} {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %} {% endwith %} {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

<!-- materiaize initialization -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.sidenav').sidenav();
        $('select').formSelect();
        $('.dropdown-trigger').dropdown();
    });
</script>

<!-- ajax voting -->
<script>
 $('.yes').bind('click', function(e){
     e.preventDefault();
     var url = $(this).attr('href');
     $('.yes').load(url);

  });

  $('.no').bind('click', function(e){
     e.preventDefault();
     var url = $(this).attr('href');
     $('.no').load(url);

  });
</script>

</html>
