{% extends 'base.html' %} {% block title %}Confirm deletion{% endblock %}

{% block breadcrumbs %}

<a href ="{{ url_for('get_records') }}">Home</a> > <a href="{{ url_for('show_categories') }}">Categories</a> > <a href="{{ url_for('show_categories') }}">{{ record.category }}</a> > <a href="{{ url_for('display_record', record_id=record._id) }}">{{ record.title }}</a> > <a href="{{ url_for('delete_record', record_id=record._id) }}">Delete {{ record.title }}</a>

{% endblock %}


{% block content %}

<div class="row">
<div class="input-field col s8">
<h4>Are you sure you want to delete "{{record.title}}"? </h4>

<div class="row">
<div class="input-field col s8">
The operation cannot be undone.</div></div>

<div class="row">
<div class="input-field col s8">
<a class="btn delete_button" href="/record_deleted/{{record._id}}">Yes, delete</a>
<a class="btn" href="{{ url_for('display_record', record_id=record._id) }}">No, cancel</a>
</div></div>

{% endblock %}