{% extends 'base.html' %} 

{% block breadcrumbs %}

<a href ="{{ url_for('get_records') }}">Home</a> > <a href="{{ url_for('user_login') }}">Log in</a>

{% endblock %}

{% block title %}Login page{% endblock %} {% block content %}

<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    
    <button>Log in</button>
</form>

{% endblock %}