{% extends 'base.html' %}
{% block title %}All records{% endblock %}

{% block content %}


    {% for record in records %}
        <p>
        <a href="record/{{record._id}}">
            <h4>{{record.title}}</h4></a>
        {{record.desc}}<br>
        {{ record.votes }} 
            {% if "username" in session %}
            <a href="{{url_for('upvote_now', record_id=record._id)}}">UPVOTE NOW</a><BR>
            <a href="{{url_for('downvote_now', record_id=record._id)}}">DOWNVOTE NOW</a>
            {% endif %}
        
        checkbox - if checked / nope, on toggle
        upvote_now
        else
        downvote_now
        
        
        </p>
    {% endfor %}
{% endblock %}