{% extends 'base.html' %} {% block title %}{{ record.title }}{% endblock %}

{% block breadcrumbs %}

<a href="{{ url_for('get_records') }}">Home</a> > <a href="{{ url_for('show_categories') }}">Categories</a> > <a
	href="{{url_for('single_category', category_name=record.category)}}">{{ record.category }}</a> > <a
	href="{{ url_for('display_record', record_id=record._id) }}">{{ record.title }}</a>

{% endblock %}

{% block content %}

<!-- Title of the record -->
<h3>{{ record.title }}</h3>

<!-- Link -->
<p>
	<a href="{{ record.url }}" target="_blank" class="truncate">{{ record.url }}</a>
</p>
<!-- Description of the link -->
<p>
	<div class="description">
		<p style="white-space: pre-line">{{ record.desc }}</p>
	</div>
</p>


<!-- Category selection -->
<p>Category: <a href="{{url_for('single_category', category_name=record.category)}}">{{ record.category }}</a></p>

{% if "username" in session %}

<p>
	<a href="{{url_for('upvote_now', record_id=record._id)}}" class="yes">Votes: {{ record.votes }}
		<i class="material-icons white-text">thumb_up</i></a>

</p>
<p>
	<!-- Edit record -->
	<a class="waves-effect waves-light btn" href="{{ url_for('edit_record', record_id=record._id) }}">Edit</a>
	<!-- Delete record -->
	<a class="waves-effect waves-light btn delete_button"
		href="{{ url_for('delete_record', record_id=record._id) }}">Delete</a>
</p>{% endif %}
{% endblock %}