{% extends 'base.html' %} {% block title %}{{ category.category_name }}{% endblock %}

{% block breadcrumbs %}

<a href="{{ url_for('get_records') }}">Home</a> > <a href="{{ url_for('show_categories') }}">Categories</a> > <a
	href="{{url_for('single_category', category_name=category.category_name)}}">{{ category.category_name }}</a>

{% endblock %}

{% block content %}

<!-- Title of the record -->
<h3>{{ category.category_name }}</h3>



<!-- display records -->
<div class="records-found">
	{% for record in records %}
	<div class="record">
		<a href="record/{{record._id}}">
			<h4>{{ record.title }}</h4>
		</a>
		<p>Category: <a href="{{url_for('single_category', category_name=record.category)}}">{{ record.category }}</a>
		</p>
		<p>Visit the link: <a href="{{ record.url }}" target="_blank" class="truncate">{{ record.url }}</a>
			<i class="material-icons new_tab">open_in_new</i></p>

		<div class="row">
			<div class="col s4"><a href="{{url_for('display_record', record_id=record._id)}}">Details >></a></div>
			<div class="col s4"></div>
			<!-- vote section -->
			<div class="vote_count col s4">

				Upvoted <span class="vote_count">{{ record.votes }}</span> times

			</div>
		</div>
		<div class="row">
			<div class="divider"></div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="no-records-found">
	No records found! <br>
    Do you want to <a href="{{ url_for('add_record') }}">add a new link?</a>
</div>

{% endblock %}